<%= simple_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :description %>
  </div>
  <div class="field">
    <%= f.input :series_id %><br>
  </div>
  <div class="field">
    <%= f.input :venue_id %><br>
  </div>
  <div class="field">
    <%= f.input :starts_at, default: Time.parse('7:00pm') + 1.days %><br>
  </div>
  <div class="field">
    <%= f.input :ends_at, default: Time.parse('9:00pm') + 1.days %><br>
  </div>
  <div class="field">
    <%= f.input :registration_url %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
