<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsor.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @sponsor.link %>
</p>

<p>
  <strong>Is current:</strong>
  <%= @sponsor.is_current %>
</p>

<p>
  <strong>Is future:</strong>
  <%= @sponsor.is_future %>
</p>

<p>
  <strong>User:</strong>
  <%= @sponsor.user %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
